@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 138 10% 5%;
    --foreground: 138 5% 90%;
    --card: 138 5% 4%;
    --card-foreground: 138 5% 90%;
    --popover: 138 10% 5%;
    --popover-foreground: 138 5% 90%;
    --primary: 138 66% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 138 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 100 10% 15%;
    --muted-foreground: 138 5% 60%;
    --accent: 100 10% 15%;
    --accent-foreground: 138 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 138 5% 90%;
    --border: 138 20% 18%;
    --input: 138 20% 18%;
    --ring: 138 66% 26%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  overflow-x: hidden;
}

main {
  padding-left: 2%;
  padding-right: 2%;
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--secondary));
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 5px;
}
